*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #fff url(../projetoNoticiasCidade/img/fundo.png) repeat-x;
}

#container{
    width: 750px;
    margin: 0 auto;
}

#topo{
    height: 150px;
    background: url(../projetoNoticiasCidade/img/detalhe-topo.png) no-repeat right top ;
    padding-top: 25px;
}
.logo{
    width: 152px;
    height: 66px;
    background: url(../projetoNoticiasCidade/img/logo.png) no-repeat center;
    text-indent: -3000px;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
#topo ul {
    margin-top: 30px;
    background: #b10333;
    float: left;
}
#topo ul li{
    float: left;
}
#topo ul a{
    font-size: 0.9em;
    display: block;
    padding: 0.5em 1.5em;
    line-height: 2.1em;
    text-decoration: none;
    color: #fff;
    background: url(../projetoNoticiasCidade/img/divisor.png) no-repeat left center;
}
#topo ul a:hover{
    color: #69001d;
}

body .home #navegacao a#home{
    color: #fff;
    background: #de003e;
    cursor: text;
}

#conteudo{
    margin-top: 60px;
    background: #f5f5f5;
}
#tres-colunas #primario{
    width: 270px;
    margin: 0 0 20px 195px;
    float: left;
}

#duas-colunas #primario{
    width: 555px;
    margin: 0 0 20px 195px;
    float: left;
}
#uma-coluna #primario{
    width: 750px;
    margin: 0 0 20px 0;
    float: left;
}
#secundario{
    width: 270px;
    margin: 0 0 20px 15px;
    float: left;
}
#lateral{
    width: 180px;
    margin: 0 0 20px -750px;
    float: left;
}
#container-rodape{
    background: #294c71;
    padding: 20px;
}
#rodape{
    width: 750px;
    margin: 0 auto;
    color: #fff;
}
.caixa{
    margin: 10px 0;
    padding: 5px ;
    background: #f3f3f3 url(../projetoNoticiasCidade/img/fundo-caixa.png)
}
h2{
    font-size: 1em;
    background: #294c71;
    color: #fff;
    padding: 5px;
}
.caixa-conteudo{
    background: #fff;
    padding: 5px;
    margin-top: 5px;
}

#lateral ul a{
    font-size: 0.9em;
    padding: 3px;
    display: block;
    line-height: 30px;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #f3f3f3;
}
#lateral ul a:hover{
    background: #f9f9f9 url(../projetoNoticiasCidade/img/marcador.png) no-repeat left center;
    padding-left: 20px;
    color: #a1a1a1;
}

label{
    display: block;
    cursor: pointer;
}

input{
    width: 125px;
    padding: 5px;
    font-size: 0.9em;
    background-color: #fff;
}
input.submit{
    width: 80px;
    color: #fff;
    background-color: #b10333;
    border: 2px solid #870529;
    padding: 5px;
    margin: 5px 0 0 0;
}
img{
    border: 2px solid #dfdfdf;
}
h3{
    text-transform: uppercase;
    display: inline;
    font-size: 0.8em;
    padding: 5px;
    background: #b10333;
    color: #fff;
}
#lista-noticias li{
    padding: 2px;
    border-bottom: 1px solid #ccc;
    height: 65px;
}
#lista-noticias li:hover{
    background: #eee;
    cursor: pointer;
}

#lista-noticias li a img{
    float: left;
    margin: 5px;
}
#lista-noticias li a {
    text-decoration: none;
}
#lista-noticias li a h3 {
    font-size: 0.8em;
    background: none;
    color: #294c71;
    padding: 0;
}
#lista-noticias li a p{
    font-size: 0.7em;
}
